@import "../../@theme/theme";

.arbol-button{
  button {
    width: 100%;
    border: 1px solid $first-color;
    background: $first-color;
    outline: none;
    color: $text-contrast-color;
    border-radius: 2px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.arbol-outline {
  button {
    padding: 5px;
    width: 100%;
    outline: none;
    border: 1px solid $first-color;
    color: $text-color;
    background: transparent !important;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
  }
}


.arbol-link {
  button {
    width: 100%;
    outline: none;
    border: none;
    color: $text-color;
    background: transparent !important;
    text-transform: uppercase;
    font-weight: bold;
  }
}


