<div
  [ngClass]="{
  'arbol-button-hover' : use === 'fill',
  'arbol-button': use === 'fill',
  'arbol-outline' : use === 'outline',
  'arbol-link': use === 'link',
  'arbol-disabled': disabled
  }"
>
  <ng-content select="[pre]"></ng-content>
  <button
    [disabled]="disabled"
    [style.background]="use === 'fill' && background"
    [style.border-color]="use === 'outline' && borderColor"
    [style.border-radius]="borderRadius"
    [style.border-width]="borderWidth"
    [style.color]="color"
  >
    <ng-content></ng-content>
  </button>
  <ng-content select="[pos]"></ng-content>
</div>
