<div class="flex overflow-hidden relative">
  <app-sidebar class="hidden md:flex"></app-sidebar>
  <app-tree-structure class="hidden md:flex"></app-tree-structure>
  <div class="w-full">
    <div>
      <router-outlet></router-outlet>
    </div>
    <app-sidebar class="md:hidden"></app-sidebar>
  </div>
  <div #menuBody [class]="getMenuState + ' md:hidden w-full h-screen absolute bg-black opacity-60'"></div>
  <div [class]="getMenuState + ' md:hidden absolute h-screen opacity-90 w-[280px] bg-white'"></div>
</div>

