@import "src/app/@theme/theme";

.markdown-view {
  width: 100%;
  background-color: $light;
  padding: 24px;
  border-radius: 5px;
  min-height: 240px;
  border: 1px dashed $light;
}

.text-area-view {
  max-width: 100%;
  background-color: $light;
  padding: 24px;
  border-radius: 5px;
  min-height: 240px;
  border: 1px dashed $base-secondary;

  textarea {
    min-height: 240px;
    width: 100%;
    border: none;

    outline: none;
    resize: none;
  }
}
