@import "src/app/pages/@styles/base";

.arbol-button{
  margin: 12px 0;

  button {
    width: 100%;
    border: 1px solid $primary;
    background: $primary;
    outline: none;
    border: $primary;
    color: $text-secondary;
    border-radius: 2px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.arbol-outline {
  margin: 12px 0;

  button {
    padding: 5px;
    width: 100%;
    outline: none;
    border: 1px solid $primary;
    color: $text-primary;
    background: transparent !important;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
  }
}


.arbol-link {
  button {
    width: 100%;
    outline: none;
    border: none;
    color: $text-primary;
    background: transparent !important;
    text-transform: uppercase;
    font-weight: bold;
  }
}


