<span id="task-encapsulation-d">
  <main class="w-[280px]">
    <section class="p-4">
      <ab-button (click)="createBranchDialog.changeModalVisibility()" type="button">
        Adicionar
      </ab-button>
    </section>
    <section>
      <app-tree-view  [branches]="branches"></app-tree-view>
    </section>
  </main>

  <ab-modal #createBranchDialog>
    <ab-modal-header>
      <h1 class="text-2xl font-bold">Criar tarefa</h1>
    </ab-modal-header>
    <ab-modal-body>
      <div>
        <ab-label>Título</ab-label>
        <ab-input [(ngModel)]="branch.name" placeholder="nome da minha tarefa"></ab-input>
      </div>
      <div>
        <quill-editor
          [(ngModel)]="branch.description"
          [sanitize]="true"
          placeholder="Start here">
        </quill-editor>
      </div>
    </ab-modal-body>
    <ab-modal-footer>
      <div class="flex gap-4 justify-end">
        <ab-button buttonStyle="danger" (click)="createBranchDialog.changeModalVisibility()"><span><i
          class="fas fa-times md:hidden"></i></span> <span class="hidden md:flex">Cancelar</span></ab-button>
        <ab-button (click)="createBranch(branch, createBranchDialog)" buttonStyle="success"><span><i
          class="fas fa-check md:hidden"></i></span> <span class="hidden md:flex">Confirmar</span></ab-button>
      </div>
    </ab-modal-footer>
  </ab-modal>
</span>
