
.branch-set-container {
  width: 280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .add-branch {
    width: 70%;
    margin-top: 16px;
  }

  .multi-dimensional-branch-view {
    width: 100%;
    height: 100%;
  }
}

.ab-modal-footer {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
