<div class="branch-set-container">
  <div class="add-branch mb-4">
    <ab-button  type="button" (click)="modalAddBranch.changeModalVisibility()">
      Adicionar
    </ab-button>
  </div>

  <div class="multi-dimensional-branch-view">
    <app-tree-view  [branches]="branches"></app-tree-view>
  </div>

  <ab-modal size="medium" [isCompact]="false" #modalAddBranch>
    <ab-modal-header><ab-label><h5>Criar novo tarefa</h5></ab-label></ab-modal-header>
    <ab-modal-body>
      <ab-input name="name" [(ngModel)]="branch.name" placeholder="Título"></ab-input>
      <ab-textarea name="description" [(ngModel)]="branch.description" placeholder="# Anotações..."></ab-textarea>
    </ab-modal-body>
    <ab-modal-footer class="ab-modal-footer">
      <ab-button (click)="modalAddBranch.changeModalVisibility()" type="button" class="me-3" use="link">Cancelar</ab-button>
      <ab-button (click)="onSubmit(modalAddBranch)" type="button"  use="fill">Confirmar</ab-button>
    </ab-modal-footer>
  </ab-modal>
</div>


