
@import "src/app/@theme/theme";

.branch-set-container {
  width: 280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $second-color;

  .add-branch {
    width: 70%;
    margin-top: 16px;
  }

  .multi-dimensional-branch-view {
    width: 100%;
    height: 100%;
    background-color: $second-color;
  }
}

.ab-modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
