@import "../../@theme/theme";

.arbol-container {
  margin: 0 0 12px 0;

  .arbol-input {
    display: flex;
    align-items: center;
    border: 1px solid $base-primary;
    background: $background-primary;
    padding: 4px 8px;
    border-radius: 2px;

    input {
      margin: 0 4px;
      background: $background-primary;
      border: none;
      outline: none;
      width: 100%;
      color: $base-primary;

      &::placeholder{
        color: $text-primary;
      }
    }
  }
}
