/* other colors */
$light-color: var(--light-color);
$dark-color: var(--dark-color);

/** fundamental colors */
$first-color: var(--first-color);
$second-color: var(--second-color);
$third-color: var(--third-color);
$transparent-color: var(--transparent-color);

/** State control */
$warning-color: var(--warning-primary);
$success-color: var(--success-primary);
$danger-color: var(--danger-primary);
$info-color: var(--info-primary);

/** text color */
$text-color: var(--text-color);
$text-contrast-color: var(--text-contrast-color);


