/* Colors */

$light: var(--light);
$dark: var(--dark);

$base-primary: var(--base-primary);
$base-secondary: var(--base-secondary);
$base-tertiary: var(--base-tertiary);

$background-primary: var(--background-primary);
$background-secondary: var(--background-secondary);
$background-tertiary: var(--background-tertiary);

$warning-primary: var(--warning-primary);
$warning-secondary: var(--warning-secondary);
$warning-tertiary: var(--warning-tertiary);

$success-primary: var(--success-primary);
$success-secondary: var(--success-secondary);
$success-tertiary: var(--success-tertiary);

$danger-primary: var(--danger-primary);
$danger-secondary: var(--danger-secondary);
$danger-tertiary: var(--danger-tertiary);

$info-primary: var(--info-primary);
$info-secondary: var(--info-secondary);
$info-tertiary: var(--info-tertiary);

$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-tertiary: var(--text-tertiary);
