<div class="page">
  <div class="image-side"></div>
  <div class="content-side row justify-content-center align-items-center">
    <div class="col-sm-8 col-md-6">
      <div>
        <ab-input placeholder="E-mail">
          <ab-icon color="#6f3aa1" [icon]="'bi bi-envelope-fill'" pre></ab-icon>
        </ab-input>
      </div>
      <div>
        <ab-input placeholder="Password" type="password">
          <ab-icon color="#6f3aa1" [icon]="'bi bi-key-fill'" pre></ab-icon>
        </ab-input>
      </div>
      <ab-button>Login</ab-button>
    </div>
  </div>
</div>
