@import "src/app/pages/@styles/base";

.page {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;

  .image-side {
    background: $primary;
    height: 100%;
    width: calc(100% - 720px);
  }

  .content-side {
    background: $tertiary;
    height: 100%;
    width: 720px;
    padding: 12px;

    .form {
      width: 60%;
    }
  }
}
