<div class="sidebar w-full h-[68px] bg-arbol-400">
<!--  <div class="sidebar-items">-->
<!--    <ab-button [routerLink]="[item.link]"  use="outline" *ngFor="let item of menuItems">-->
<!--      <ab-icon [size]="24" [icon]="item.icon" [color]="item.color"></ab-icon>-->
<!--    </ab-button>-->
<!--  </div>-->
<!--  <div class="sidebar-settings-items">-->
<!--    <ab-button  use="outline" *ngFor="let setting of settingsItems" (click)="changeTheme(setting.action)">-->
<!--      <ab-icon [size]="24" [icon]="setting.icon" [color]="setting.color" ></ab-icon>-->
<!--    </ab-button>-->
<!--  </div>-->
</div>
