@import "src/app/@theme/theme";

.sidebar {
  width: 68px;
  height: 100vh;
  background: $first-color;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  .sidebar-items {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .sidebar-settings-items {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  a {
    i {
      font-size: 24px;
    }
  }

}
