<main class="bg-gray-50/20 h-screen w-full overflow-hidden flex flex-col justify-between item-center">
  <section class="p-6">
    <h1 class="text-lg text-purple-400 font-bold">Acesso</h1>
  </section>
  <section class="flex-1 flex justify-center items-center">
    <form class="h-full w-full flex flex-col justify-center  p-6">
      <div>
        <div class="flex justify-center text-purple-400">
          <img src="assets/imgs/icon.svg" class="w-32 h-32 text-purple-400" alt="icon"/>
        </div>

        <ab-input placeholder="E-mail" label="E-mail"></ab-input>

        <ab-input placeholder="Password" label="Password"></ab-input>

        <ab-button type="submit" buttonStyle="full">
          Entrar
        </ab-button>

        <ab-button type="button" buttonStyle="clear">
          <span class="hidden md:block">Não possui uma conta ?</span><span class="md:text-purple-400">Cadastrar</span>
        </ab-button>
      </div>
    </form>
  </section>
  <section class="w-full h-8 bg-purple-400">
  </section>
</main>
