<main class="relative bg-gray-100 h-screen w-full overflow-hidden md:flex md:justify-center md:items-center">
  <section class="hidden md:block absolute left-0 top-0  -m-80">
    <img   src="assets/imgs/bg-top.svg" alt=""/>
  </section>
  <section
    class="z-50 h-full w-full bg-white flex flex-col justify-between md:border-2 md:rounded md:border-gray-100 md:w-[420px] md:h-auto">
    <div class="p-6">
      <h1 class="text-lg text-arbol-400 font-bold">Acesso</h1>
    </div>
    <div class="flex-1 flex justify-center items-center">
      <form (ngSubmit)="submit()" class="h-full w-full flex flex-col justify-center  p-6">
        <div>
          <div class="flex justify-center fill-arbol-400">
            <img src="assets/imgs/icon.svg" class="w-32 h-32 fill-arbol-400" alt="icon"/>
          </div>

          <ab-input name="email" [(ngModel)]="user.email" placeholder="E-mail" label="E-mail"></ab-input>

          <ab-input name="password" [(ngModel)]="user.password"  placeholder="Password" label="Password"></ab-input>

          <arbol-checkbox label="Relembre-me"></arbol-checkbox>

          <ab-button type="submit" buttonStyle="full">
            Entrar
          </ab-button>

          <ab-button [routerLink]="['/auth/register']" type="button" buttonStyle="basic">
            <span class="hidden md:block">Não possui uma conta ?</span><span class="md:text-arbol-400">Cadastrar</span>
          </ab-button>
        </div>
      </form>
    </div>
    <div class="w-full h-8 bg-arbol-400">
    </div>
  </section>
  <section class="hidden md:block absolute right-0 bottom-0 -mb-[720px] -mr-[600px]">
    <img  src="assets/imgs/bg-bottom.svg" alt=""/>
  </section>
</main>
