<app-page title="title">
  <div>
    <div class="actions">
      <div class="save-action">
        <ab-button  [use]="activeMarkdownContent ? 'outline' : 'fill'" (click)="activeMarkdownContent = !activeMarkdownContent">
          <ab-icon [color]="activeMarkdownContent ? '#9373ED' : '#fff'" [icon]="'bi bi-hash'"></ab-icon>
        </ab-button>
      </div>
    </div>

    <app-markdown-display *ngIf="!!branch.description" [active]="activeMarkdownContent" [data]="branch"></app-markdown-display>
  </div>
</app-page>


