<app-page title="title">
  <div *ngIf="branch.id">
    <ab-content-header>
      <div>
        <ab-input-text name="name" (inputTextBlurEvent)="updateContentHeader(branch)" [(ngModel)]="branch.name"></ab-input-text>
      </div>
      <div pos class="actions">
        <div class="save-action">
          <ab-button  [use]="activeMarkdownContent ? 'outline' : 'fill'" (click)="updateBranch(branch)">
            <ab-icon [selected]="activeMarkdownContent" [style.color]="activeMarkdownContent" [icon]="'bi bi-hash'"></ab-icon>
          </ab-button>
        </div>
      </div>
    </ab-content-header>
    <app-markdown-display [active]="activeMarkdownContent" [data]="branch"></app-markdown-display>
  </div>
</app-page>

