@import "../../@theme/theme";

.ab-modal-container{

  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  background-color: rgba(0,0,0,0.4);


  display: flex;
  align-items: center;
  justify-content: center;

  .ab-modal {
    background-color: $second-color;
    border-radius: 2px;
    max-height: 660px;

    @media only screen and (max-width : 1024px) {
      width: 90%;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .ab-modal-header {
      min-height: 48px;
      width: 100%;
      border-bottom: 1px solid $third-color;

      display: flex;
      align-items: center;

      padding: 0 16px;
    }

    .ab-modal-body {
      width: 100%;
      overflow-y: auto;
      flex: 1;
      padding: 16px 16px;
    }

    .ab-modal-footer {
      min-height: 48px;
      width: 100%;
      border-top: 1px solid $third-color;

      display: flex;
      align-items: center;

      padding: 0 16px;
    }
  }

}

.modal-is-closed {
  display: none;
}

.ab-modal-small {
  width: 30%;
}

.ab-modal-medium {
  width: 40%;
}

.ab-modal-large {
  width: 60%;
}

