<div>
  <app-header>
    <div class="flex h-[64px] justify-between">
      <div class="md:hidden">
        <ab-button (click)="openMenu()"  buttonStyle="clear">
          <ab-icon icon="fas fa-bars"></ab-icon>
        </ab-button>
      </div>

      <div class="h-full ml-2 flex items-center">
        <h2>{{title}}</h2>
      </div>
    </div>
  </app-header>
  <div class="h-[calc(100vh-68px-48px)] md:h-[calc(100vh-48px)] md:w-[calc(100vw-64px-280px)] bg-gray-100">
    <ng-content></ng-content>
  </div>
</div>
