@import "../../../../@theme/theme";

.branch-container {
  width: 100%;
  height: 36px;
  background: $second-color;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 16px;

  transition: background-color 0.3s;

  &:hover {
    background: $third-color;
  }

  .branch-content {
    display: flex;
    align-items: center;

    .branch-arrow {
      margin-right: 6px;
    }
  }

  .branch-name{
    p {
      color: $text-color;
    }
  }
}

.selected {
  background: $third-color;
}
