@import "../../../../@theme/theme";

.tree-item {
  width: 100%;
  height: 36px;
  background: $second-color;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 16px;

  transition: background-color 0.3s;

  &:hover {
    background: $third-color;
  }

  .tree-item__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    div {
      display: flex;
    }

    .tree-item__content__arrow {
      margin-right: 6px;
    }

    .tree-item__content__name{
      p {
        color: $text-color;
      }
    }
  }
}

.app-modal-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
