<div (click)="selectBranch(currentBranch.id)" *ngIf="currentBranch.id" [class]="' flex justify-between items-center px-4 py-1 cursor-pointer'">
  <div class="flex gap-4">
    <ab-icon (click)="loadBranch(currentBranch.id)" [icon]="arrowState"></ab-icon>
    <div >
      <p>{{currentBranch.name}}</p>
    </div>
  </div>
  <div class="flex justify-between">
    <ab-button (click)="deleteBranchDialog.changeModalVisibility()" buttonStyle="clear">
      <ab-icon icon="fas fa-trash"></ab-icon>
    </ab-button>
    <ab-button (click)="createBranchDialog.changeModalVisibility()" buttonStyle="clear">
      <ab-icon icon="fas fa-plus"></ab-icon>
    </ab-button>
  </div>
</div>

<ab-modal #deleteBranchDialog>
  <ab-modal-header>
    <h1 class="text-2xl font-bold">Remover tarefa</h1>
  </ab-modal-header>
  <ab-modal-body>
    Tem certeza de que deseja remover a tarefa selecionada ?
  </ab-modal-body>
  <ab-modal-footer>
    <div class="flex gap-4 justify-end">
      <ab-button buttonStyle="danger" (click)="deleteBranchDialog.changeModalVisibility()"><span><i
        class="fas fa-times md:hidden"></i></span> <span class="hidden md:flex">Cancelar</span></ab-button>
      <ab-button (click)="deleteBranch(this.currentBranch.id, deleteBranchDialog)" buttonStyle="success"><span><i
        class="fas fa-check md:hidden"></i></span> <span class="hidden md:flex">Confirmar</span></ab-button>
    </div>
  </ab-modal-footer>
</ab-modal>

<ab-modal #createBranchDialog>
  <ab-modal-header>
    <h1 class="text-2xl font-bold">Criar tarefa</h1>
  </ab-modal-header>
  <ab-modal-body>
    <div>
      <ab-label>Título</ab-label>
      <ab-input [(ngModel)]="branch.name" placeholder="nome da minha tarefa"></ab-input>
    </div>
    <div>
      <quill-editor
        [(ngModel)]="branch.description"
        [sanitize]="true"
        placeholder="Start here">
      </quill-editor>
    </div>
  </ab-modal-body>
  <ab-modal-footer>
    <div class="flex gap-4 justify-end">
      <ab-button buttonStyle="danger" (click)="createBranchDialog.changeModalVisibility()"><span><i
        class="fas fa-times md:hidden"></i></span> <span class="hidden md:flex">Cancelar</span></ab-button>
      <ab-button (click)="createBranch(this.branch, createBranchDialog)" buttonStyle="success"><span><i
        class="fas fa-check md:hidden"></i></span> <span class="hidden md:flex">Confirmar</span></ab-button>
    </div>
  </ab-modal-footer>
</ab-modal>

